<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  
  -->
<configuration>
  <connectionStrings>
    <!--<add name="Hams" connectionString="Data Source=DESKTOP-6M2C5H2;Initial Catalog=TempleteDb;Integrated Security=True " providerName="System.Data.SqlClient" />-->
    <add name="Hams" connectionString="Data Source=125.209.68.195;Integrated Security=False;User ID=Temp;Password=Emaan123@;Encrypt=False;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
</configuration>
<!--ProjectGuid: 26174843-09cf-407a-a781-b12c0fb3db8a-->